:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

/* Basic reset to remove default browser margins and paddings */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide the body's scrollbar */
}