:root {
  font-family: Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */

}

/* Basic reset to remove default browser margins and paddings */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide the body's scrollbar */
}