html {
  background-color: #fff;
}

.main {
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}


.main>.bg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./DSCF7464_resized_1250_dithered_16.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px); */
  filter: contrast(1.1) blur(4px);
  /* filter: contrast(1.1) brightness(0.5) blur(4px); */
  transform: scale(1.1);
}

.main>.content {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  background-color: white;
}


input.search {
  all: unset;
  /* font-size: 24px; */
  /* height: 100%; */
  /* width: 100%; */
  /* margin: auto 0; */
  padding: 0 10px;

}