/* Dots UI */
.pagination {
    position: fixed;
    right: 10px;
    top: 85%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.dot.active {
    background: white;
    transform: scale(1.2);
}