/* Dots UI */
.pagination {
    position: fixed;
    right: 19px;
    bottom: 17vw;
    transform: translateY(2px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* mix-blend-mode: overlay; */
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.dot.active {
    background: white;
    transform: scale(1.2);
}