:root {
  font-family: ronzino, 'Times New Roman', Times, serif;

  /* color-scheme: light dark; */

}

/* Basic reset to remove default browser margins and paddings */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide the body's scrollbar */

  /* this sets the mobile navbar to black */
  background: #000;
}