

.pages-menu-trigger{

    position: fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 36pt;
    color: white;
    z-index: 9999;

}


.pages-menu{

    position: fixed;
    top: 0;
    left: 0;

    z-index: 9998;
    backdrop-filter: blur(18px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.pages-menu-row {
    width: 100%;
    text-align: right;
    font-size: 36pt;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}